
<html>
  <head>
    <title>LogFire</title>
    <script type="text/javascript" src="web/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="web/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="web/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="web/js/jquery.ibutton.min.js"></script>
    <script type="text/javascript" src="web/js/logfire.js"></script>
    <link rel="stylesheet" href="web/css/chosen.css"/>
    <link rel="stylesheet" href="web/css/jquery.ibutton.min.css"/>
    <link rel="stylesheet" href="web/css/logfire.css"/>
  </head>
  <body>
    <select data-placeholder="Filter.." multiple="true" id="filter">
      <option value=""></option>
      <optgroup label="Components">{% for component in components %}
        <option value="{{component}}">{{component}}</option>{% end %}
      </optgroup>
      <optgroup label="Levels">{% for level in levels %}
        <option value="{{level}}">{{level}}</option>{% end %}
      </optgroup>
    </select>&nbsp; &nbsp; &nbsp;
    <input type="checkbox" id="rtchoice"/>&nbsp; &nbsp; &nbsp;
    <input type="button" value="Refresh" id="refresh"/><a href="#" id="prev">&lt; Prev</a>&nbsp;&nbsp;<a href="#" id="next">Next &gt;</a>
    <table></table>
  </body>
</html>